@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  @apply h-screen;
}

body {
  background: #000;

}
#__next {
  @apply h-screen;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}